In [2]:
import numpy as np
import pandas as pd


pd.set_option("display.max_columns", 100)
pd.set_option("display.float_format", lambda x: f"{x:,.2f}")

In [4]:
df = pd.read_csv("../data/processed/accidents.csv", low_memory=False)

## Basic Overview

In [15]:
df.head()

,row_id,id,source,severity,start_time,end_time,start_lat,start_lng,end_lat,end_lng,distancemi,description,street,city,county,state,zipcode,country,timezone,airport_code,weather_timestamp,wind_chillf,humidity,pressurein,visibilitymi,wind_direction,wind_speedmph,precipitationin,weather_condition,amenity,bump,crossing,give_way,junction,no_exit,railway,roundabout,station,stop,traffic_calming,traffic_signal,turning_loop,sunrise_sunset,civil_twilight,nautical_twilight,astronomical_twilight,min_temperature_f,max_temperature_f
0,0.00,3650461,source1,2,2023-03-31 17:09:16,2023-03-31 18:09:49.000000000,45.68,-94.17,45.67,-94.18,0.66,accident_on_us-10_e_from_cr-4/75th_st_nw_(us-1...,75th_st_nw,sauk_rapids,benton,mn,56379-9511,us,central,kstc,2023-03-31 17:02:00,22.00,89.00,28.33,3.00,ne,17.00,0.05,thunder_/_wintry_mix,0,0,0,0,0,0,0,0,0,0,0,0,0,day,day,day,day,31.00,35.00
1,1.00,3650462,source1,2,2023-02-27 20:55:00,2023-02-27 23:36:34.000000000,41.39,-75.47,41.40,-75.48,0.98,crash_on_i-84_westbound_.8_miles_west_of_exit_...,aberdeen_rd,moscow,lackawanna,pa,18444,us,eastern,kavp,2023-02-27 20:54:00,25.00,82.00,28.64,1.00,se,8.00,0.03,light_snow,0,0,0,0,0,0,0,0,0,0,0,0,0,night,night,night,night,30.00,34.00
2,2.00,3650463,source1,2,2023-02-26 09:31:45,2023-02-26 11:58:19.000000000,40.85,-73.95,40.85,-73.93,0.69,port_authority_ny/nj:_crash_on_george_washingt...,george_washington_brg,new_york,new_york,ny,10032,us,eastern,knyc,2023-02-26 09:40:00,22.00,79.00,29.86,6.00,wsw,10.00,0.00,haze,0,0,0,0,0,0,0,0,0,0,0,0,0,day,day,day,day,29.00,33.00
3,3.00,3650464,source1,2,2023-03-21 17:46:42,2023-03-21 18:31:50.000000000,33.71,-84.30,33.71,-84.27,1.92,slow_traffic_on_i-20_e_-_ga-402_e_from_flat_sh...,i-20,decatur,dekalb,ga,30034,us,eastern,katl,2023-03-21 17:52:00,61.00,22.00,29.19,10.00,sse,10.00,0.00,partly_cloudy,0,0,0,0,0,0,0,0,0,0,0,0,0,day,day,day,day,59.00,63.00
4,4.00,3650465,source1,2,2023-03-24 04:46:30,2023-03-24 09:22:00.000000000,33.93,-118.27,33.93,-118.34,4.40,stationary_traffic_on_i-105_w_-_glenn_anderson...,glenn_anderson_fwy_w,los_angeles,los_angeles,ca,90061,us,pacific,khhr,2023-03-24 04:53:00,57.00,39.00,30.13,10.00,nw,9.00,0.00,fair,0,0,0,0,0,0,0,0,0,0,0,0,0,night,night,night,night,55.00,59.00

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 246633 entries, 0 to 246632
Data columns (total 48 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   row_id                 246633 non-null  float64
 1   id                     246633 non-null  int64
 2   source                 246633 non-null  object
 3   severity               246633 non-null  int64
 4   start_time             246633 non-null  object
 5   end_time               246633 non-null  object
 6   start_lat              246633 non-null  float64
 7   start_lng              246633 non-null  float64
 8   end_lat                246633 non-null  float64
 9   end_lng                246633 non-null  float64
 10  distancemi             246633 non-null  float64
 11  description            246633 non-null  object
 12  street                 245837 non-null  object
 13  city                   246599 non-null  object
 14  county                 245788 non-null  object
 15  state                  245788 non-null  object
 16  zipcode                246542 non-null  object
 17  country                246601 non-null  object
 18  timezone               246372 non-null  object
 19  airport_code           245725 non-null  object
 20  weather_timestamp      241267 non-null  object
 21  wind_chillf            238323 non-null  float64
 22  humidity               239854 non-null  float64
 23  pressurein             240935 non-null  float64
 24  visibilitymi           239733 non-null  float64
 25  wind_direction         238818 non-null  object
 26  wind_speedmph          238819 non-null  float64
 27  precipitationin        235395 non-null  float64
 28  weather_condition      239972 non-null  object
 29  amenity                246633 non-null  int64
 30  bump                   246633 non-null  int64
 31  crossing               246633 non-null  int64
 32  give_way               246633 non-null  int64
 33  junction               246633 non-null  int64
 34  no_exit                246633 non-null  int64
 35  railway                246633 non-null  int64
 36  roundabout             246633 non-null  int64
 37  station                246633 non-null  int64
 38  stop                   246633 non-null  int64
 39  traffic_calming        246633 non-null  int64
 40  traffic_signal         246633 non-null  int64
 41  turning_loop           246633 non-null  int64
 42  sunrise_sunset         244930 non-null  object
 43  civil_twilight         244930 non-null  object
 44  nautical_twilight      244930 non-null  object
 45  astronomical_twilight  244930 non-null  object
 46  min_temperature_f      239515 non-null  float64
 47  max_temperature_f      240427 non-null  float64
dtypes: float64(14), int64(15), object(19)
memory usage: 90.3+ MB

In [17]:
df.describe(include="all").T.head(20)

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
row_id,"246,633.00",NaN,NaN,NaN,"123,316.00","71,196.96",0.00,"61,658.00","123,316.00","184,974.00","246,632.00"
id,"246,633.00",NaN,NaN,NaN,"4,449,815.24","570,063.75","3,650,461.00","3,911,896.00","4,431,728.00","4,948,415.00","5,464,713.00"
source,246633,1,source1,246633,NaN,NaN,NaN,NaN,NaN,NaN,NaN
severity,"246,633.00",NaN,NaN,NaN,2.06,0.33,2.00,2.00,2.00,2.00,4.00
start_time,246633,126923,2023-02-26 15:23:00,50,NaN,NaN,NaN,NaN,NaN,NaN,NaN
end_time,246633,192699,2023-02-13 00:01:09,26,NaN,NaN,NaN,NaN,NaN,NaN,NaN
start_lat,"246,633.00",NaN,NaN,NaN,36.64,4.85,24.57,33.80,36.77,40.15,48.99
start_lng,"246,633.00",NaN,NaN,NaN,-97.40,18.14,-124.51,-118.01,-93.27,-80.72,-70.07
end_lat,"246,633.00",NaN,NaN,NaN,36.64,4.85,24.57,33.80,36.77,40.15,49.00
end_lng,"246,633.00",NaN,NaN,NaN,-97.40,18.14,-124.51,-118.01,-93.27,-80.73,-70.08
distancemi,"246,633.00",NaN,NaN,NaN,0.92,2.14,0.00,0.07,0.29,0.94,59.37
description,246633,159667,accident,2476,NaN,NaN,NaN,NaN,NaN,NaN,NaN
street,245837,39296,i-5_n,2532,NaN,NaN,NaN,NaN,NaN,NaN,NaN
city,246599,6645,los_angeles,5880,NaN,NaN,NaN,NaN,NaN,NaN,NaN
county,245788,1262,los_angeles,20090,NaN,NaN,NaN,NaN,NaN,NaN,NaN
state,245788,45,ca,74559,NaN,NaN,NaN,NaN,NaN,NaN,NaN
zipcode,246542,58556,92407,524,NaN,NaN,NaN,NaN,NaN,NaN,NaN
country,246601,1,us,246601,NaN,NaN,NaN,NaN,NaN,NaN,NaN
timezone,246372,8,eastern,99376,NaN,NaN,NaN,NaN,NaN,NaN,NaN
airport_code,245725,1529,kcqt,4557,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
n_rows, n_cols = df.shape
print(f"Rows: {n_rows:,}, Columns: {n_cols}")

mem_mb = df.memory_usage(deep=True).sum() / 1024**2
print(f"Approx. memory usage: {mem_mb:.1f} MB")

df.isna().mean().sort_values(ascending=False).head(20)

Rows: 246,633, Columns: 48
Approx. memory usage: 325.1 MB

precipitationin         0.05
wind_chillf             0.03
wind_direction          0.03
wind_speedmph           0.03
min_temperature_f       0.03
visibilitymi            0.03
humidity                0.03
weather_condition       0.03
max_temperature_f       0.03
pressurein              0.02
weather_timestamp       0.02
sunrise_sunset          0.01
nautical_twilight       0.01
astronomical_twilight   0.01
civil_twilight          0.01
airport_code            0.00
county                  0.00
state                   0.00
street                  0.00
timezone                0.00
dtype: float64

## Check for Low Variance / High Cardinality Columns

In [ ]:
num_cols = df.select_dtypes(include=[np.number]).columns

low_variance = []

for col in num_cols:
    col_var = df[col].var()
    top_freq = df[col].value_counts(normalize=True, dropna=False).iloc[0]

    low_variance.append({
        "column": col,
        "variance": col_var,
        "dominant_value_pct": top_freq
    })

low_variance_df = pd.DataFrame(low_variance).sort_values("variance")

low_variance_df

               column           variance  dominant_value_pct
26       turning_loop               0.00                1.00
21         roundabout               0.00                1.00
15               bump               0.00                1.00
24    traffic_calming               0.00                1.00
13    precipitationin               0.00                0.84
19            no_exit               0.00                1.00
17           give_way               0.00                1.00
20            railway               0.01                0.99
14            amenity               0.01                0.99
22            station               0.02                0.98
23               stop               0.02                0.98
16           crossing               0.07                0.93
18           junction               0.07                0.93
25     traffic_signal               0.08                0.91
2            severity               0.11                0.97
10         pressurein               1.80                0.02
7          distancemi               4.59                0.01
11       visibilitymi               9.15                0.71
3           start_lat              23.55                0.00
5             end_lat              23.55                0.00
12      wind_speedmph              33.92                0.16
27  min_temperature_f             221.26                0.03
28  max_temperature_f             227.70                0.03
6             end_lng             329.15                0.00
4           start_lng             329.16                0.00
8         wind_chillf             329.80                0.03
9            humidity             510.08                0.06
0              row_id   5,069,006,943.50                0.00
1                  id 324,972,675,591.77                0.00

In [21]:
cat_cols = df.select_dtypes(include=["object", "category"]).columns

high_cardinality = []

for col in cat_cols:
    nunique = df[col].nunique(dropna=False)
    total = len(df)
    ratio = nunique / total
    
    high_cardinality.append({
        "column": col,
        "n_unique": nunique,
        "cardinality_ratio": ratio
    })

high_card_df = pd.DataFrame(high_cardinality).sort_values("n_unique", ascending=False)

high_card_df

                   column  n_unique  cardinality_ratio
2                end_time    192699               0.78
3             description    159667               0.65
1              start_time    126923               0.51
8                 zipcode     58557               0.24
4                  street     39297               0.16
12      weather_timestamp     26005               0.11
5                    city      6646               0.03
11           airport_code      1530               0.01
6                  county      1263               0.01
14      weather_condition        81               0.00
7                   state        46               0.00
13         wind_direction        19               0.00
10               timezone         9               0.00
17      nautical_twilight         3               0.00
15         sunrise_sunset         3               0.00
18  astronomical_twilight         3               0.00
16         civil_twilight         3               0.00
9                 country         2               0.00
0                  source         1               0.00

## Missing data summary

In [5]:
missing = (
    df.isna()
      .sum()
      .to_frame("n_missing")
      .assign(
          pct_missing=lambda x: x["n_missing"] / len(df)
      )
      .sort_values("pct_missing", ascending=False)
)
missing.head(20)

                       n_missing  pct_missing
precipitationin            11238         0.05
wind_chillf                 8310         0.03
wind_direction              7815         0.03
wind_speedmph               7814         0.03
min_temperature_f           7118         0.03
visibilitymi                6900         0.03
humidity                    6779         0.03
weather_condition           6661         0.03
max_temperature_f           6206         0.03
pressurein                  5698         0.02
weather_timestamp           5366         0.02
sunrise_sunset              1703         0.01
nautical_twilight           1703         0.01
astronomical_twilight       1703         0.01
civil_twilight              1703         0.01
airport_code                 908         0.00
county                       845         0.00
state                        845         0.00
street                       796         0.00
timezone                     261         0.00

## Domain Validity Checks

In [12]:
issues = {}

if {"start_lat", "start_lng"}.issubset(df.columns):
    lat_ok = df["start_lat"].between(-90, 90) | df["start_lat"].isna()
    lng_ok = df["start_lng"].between(-180, 180) | df["start_lng"].isna()
    issues["invalid_lat"] = (~lat_ok).sum()
    issues["invalid_lng"] = (~lng_ok).sum()

if "severity" in df.columns:
    sev_ok = df["severity"].isin([1, 2, 3, 4]) | df["severity"].isna()
    issues["invalid_severity"] = (~sev_ok).sum()

if {"start_time", "end_time"}.issubset(df.columns):
    time_order_ok = (df["end_time"] >= df["start_time"]) | df["end_time"].isna()
    issues["end_before_start"] = (~time_order_ok).sum()

if "distancemi" in df.columns:
    dist_ok = (df["distancemi"] >= 0) | df["distancemi"].isna()
    issues["negative_distance"] = (~dist_ok).sum()

issues

{'invalid_lat': np.int64(0),
 'invalid_lng': np.int64(0),
 'invalid_severity': np.int64(0),
 'end_before_start': np.int64(0),
 'negative_distance': np.int64(0)}

## Duplicate Checks

In [14]:
dup_subset = ["id"] if "id" in df.columns else None

if dup_subset:
    n_dups = df.duplicated(subset=dup_subset).sum()
    print("Duplicates by ID:", n_dups)
    df_clean = df.drop_duplicates(subset=dup_subset)
else:
    n_dups = df.duplicated().sum()
    print("Full-row duplicates:", n_dups)
    df_clean = df.drop_duplicates()

Duplicates by ID: 0